* {
  padding: 0%;
  margin: 0%;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-color: #edf2fc;
}
.slider-frame_img-item {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.slider-frame_img-item img {
  max-width: 190%;
  margin-left: 16em;
}
.container__content {
  margin-top: 4%;
  float: left;
  font-size: 17px;
  font-weight: bold;
  color: blue;
}

#container__item1 {
  margin-bottom: 1em;
  color: rgb(21 21 65);
  font-weight: bolder;
  font-size: 19px;
  text-decoration: underline;
}
#container__item2 {
  margin-bottom: 1em;
  color: rgb(21 21 65);
  font-weight: bolder;
  font-size: 19px;
  text-decoration: underline;
}
#container__item3 {
  margin-bottom: 1em;
  color: rgb(21 21 65);
  font-weight: bolder;
  font-size: 19px;
  text-decoration: underline;
}
#container__item4 {
  margin-bottom: 1em;
  color: rgb(21 21 65);
  font-weight: bolder;
  font-size: 19px;
  text-decoration: underline;
}

.slider-frame__slide-images {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 1fr 1fr 1fr;
  /* align-items: center;  
    align-content: center; */
  padding-left: 380px;
}
.container1 {
  margin-right: 14%;
}
.audeo {
  display: grid;
  gap: 25px;
  grid-template-columns: auto;
  max-width: 100%;
  margin-right: 53em;
  grid-template-rows: repeat(auto-fill, minmax(120px 300pc));
  justify-content: start;
  margin-bottom: 12px;
}
.audeo__display__item {
  max-width: 100%;
  width: 70%;
  display: grid;
}

.nav1__logo {
  flex: 2;
  padding: 0px 20px;
  position: absolute;
  top: 20px;
  display: grid;
  width: 115rem;
  height: 0px;
  gap: 0.25rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.nav1__logo img {
  max-width: 100%;
}
.menu-items {
  color: #fff;
  height: 10vh;
  display: flex;
  float: right;
  text-align: right;
  align-items: center;
  font-size: 0.1rem;
  transition: 0.3s;
  padding: 0px 40px;
  cursor: pointer;
}

.nav1 {
  display: flex;
  flex-direction: column;
}
.nav1 ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  text-decoration: none;
  padding-left: 3em;
  margin-bottom: 4em;
}

.nav1 ul li a {
  text-transform: capitalize;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  text-decoration: none;
  font-weight: bolder;
  transition: 1s;
}
.nav1 ul li a:hover {
  color: cyan;
  font-size: 18px;
  background-color: rgb(202, 208, 208);
  font-weight: bolder;
  text-transform: uppercase;
}
.nav1 ul li {
  padding-left: 3em;
  margin-top: 5em;
}
.image {
  display: flex;
  justify-content: center;
  padding-left: 390px;
  width: 340px;
  height: 280px;
  box-shadow: 3px #212121;
  border-radius: 1em;
  margin: auto;
}
.nav1 img {
  border-radius: 1em;
  height: 9em;
  width: 10em;
  position: static;
  box-shadow: 5px 3px 5px 3px #212121;
  margin-left: 3em;
  bottom: 15em;
}
.image img {
  display: flex;
  justify-content: center;
}

.text {
  text-align: center;
  padding-right: 13em;
  font-size: 20px;
  font-weight: bold;
  color: rgb(69, 97, 97);
}
button {
  font-size: 18px;
  background-color: aquamarine;
}

#text__3 {
  padding-left: 7px;
  text-transform: capitalize;
  color: red;
  font-weight: bolder;
  padding-top: 1em;
  border-radius: 1em;
}
#text__2 {
  padding-left: 24px;
  text-indent: 6px;
  padding-top: 1em;
}
video {
  max-width: 100%;
  width: 70%;
}
.container {
  display: flex;
  padding-left: 6em;
  justify-content: space-between;
  padding: 4em 4em 0em 4em;
}
#footor1 {
  padding: 4em 4em 0em 1em;
  text-transform: uppercase;
  font-size: large;
  color: red;
  font-weight: bolder;
}
#footor2 {
  text-transform: uppercase;
  font-size: large;
  color: red;
}
.icon img {
  max-width: 100%;
  justify-content: space-around;
  width: 5em;
  height: 7em;
  flex-direction: row;
  padding: 2em 0em 2em 2em;
}
.nav__element {
  text-align: center;
  text-shadow: 2px 2px;
  margin-top: 2em;
}
.nav__element span {
  color: rgb(165 75 14);
}
#text__1 {
  text-shadow: 2px 2px red;
}
.nav1 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}
.nav-bar.active {
  height: 350px;
}

@media only screen and (max-width: 1100px) {
  .hamburgur {
    display: block;
    cursor: pointer;
  }
  .nav-bar {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .hamburgur__line {
    width: 30px;
    height: 3px;
    background: #151414;
    margin: 6px;
  }
  .audeo {
    width: 100%;
    margin-left: 1em;
  }

  .slider-frame {
    margin-right: -11px;
  }
  .slider-frame__slide-images {
    padding-left: 50px;
  }

  .container__content {
    margin-top: 4%;
    float: left;
  }
  #container__items {
    padding-top: 40px;
  }
  .nav1__logo__nav.active {
    height: 460px;
    width: 200px;
  }
  .logo {
    justify-content: center;
  }
  ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 1;
  }

  .container {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 1px;
  }

  .icon {
    margin-bottom: 14px;
  }

  .nav1 li a {
    padding: 2px;
    margin-top: 12px;
    float: left;
  }
  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 2px 12px;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .nav__element {
    padding-top: 38%;
  }
  .nav-bar ul li a {
    margin-bottom: 12px;
  }
}

.nav-bar.active ul {
  opacity: 1;
}

.slider-frame_img-item img {
  max-width: 190%;
  margin-left: 0em;
}
